
.idea/.idea.Uber/.idea/vcs.xml
Uber.Contracts/bin/Debug/net6.0/Uber.Contracts.deps.json
Uber.Contracts/bin/Debug/net6.0/Uber.Contracts.dll
Uber.Contracts/bin/Debug/net6.0/Uber.Contracts.pdb
Uber.Contracts/obj/Debug/net6.0/ref/Uber.Contracts.dll
Uber.Contracts/obj/Debug/net6.0/refint/Uber.Contracts.dll
Uber.Contracts/obj/Debug/net6.0/Uber.Contracts.csproj.CoreCompileInputs.cache
Uber.Contracts/obj/Debug/net6.0/Uber.Contracts.csproj.FileListAbsolute.txt
Uber.Contracts/obj/Debug/net6.0/Uber.Contracts.dll
.idea/.idea.Uber/.idea/vcs.xml
Uber.Contracts/obj/Debug/net6.0/Uber.Contracts.pdb
Uber/bin/Debug/net6.0/appsettings.Development.json
Uber/bin/Debug/net6.0/appsettings.json
Uber/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.Internal.dll
Uber/bin/Debug/net6.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
Uber/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
Uber/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
*.dll
Uber/bin/Debug/net6.0/Uber.Contracts.pdb
Uber/bin/Debug/net6.0/Uber.deps.json
Uber/bin/Debug/net6.0/Uber.exe
Uber/bin/Debug/net6.0/Uber.pdb
Uber/bin/Debug/net6.0/Uber.runtimeconfig.json
Uber/obj/Debug/net6.0/Uber.pdb
Uber/obj/Debug/net6.0/Uber.MvcApplicationPartsAssemblyInfo.cache
Uber/obj/Debug/net6.0/Uber.csproj.FileListAbsolute.txt
Uber/obj/Debug/net6.0/Uber.csproj.CoreCompileInputs.cache
Uber/obj/Debug/net6.0/Uber.csproj.CopyComplete
Uber/obj/Debug/net6.0/Uber.csproj.AssemblyReference.cache
Uber/obj/Debug/net6.0/staticwebassets.build.json
Uber/obj/Debug/net6.0/apphost.exe
Uber/obj/Debug/net6.0/Uber.csproj.AssemblyReference.cache
*.cache
*.sentinel
*.xml
